.control {
    height: 750px; /* Ajusta el alto deseado */
}

.control img.w-100 {
    height: 100%; /* La imagen llena el contenedor */
    object-fit: cover; /* Recorta la imagen si es necesario */
}

.custom-rounded {
    border-radius: 50px;  /* Totalmente redondeado */
}

.reservation2 {
    background: url(../img/img/farmacia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* carrito  */

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
}
 */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    display: flex;
    padding: 20px;
    gap: 20px;
}

#productos {
    flex: 3;
}

.carrusel {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.carrusel .producto {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 0 0 auto;
    width: 200px;
    text-align: center;
}

.carrusel img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: #784410;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #784410a3; 
}

#carrito {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    background-color: white;
    border-left: 2px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

#carrito.mostrar {
    transform: translateX(0);
}

#mostrar-carrito {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    z-index: 1000;
}

#mostrar-carrito:hover {
    background-color: #0056b3;
}

#cerrar-carrito {
    background-color: #dc3545;
    margin-bottom: 10px;
}

#carrito ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
}

#carrito li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#total {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* fondos */

/* Estilos generales del cuerpo */
body {
    background-color: #fff; /* Fondo gris claro */
    color: #351a09; /* Texto marrón oscuro */
    font-family: 'Radona Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #784410; /* Títulos en marrón medio */
}

/* Estilo de botones */
.btn-primary {
    background-color: #041d5c; /* Azul suave */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #041d5c; /* Azul oscuro en hover */
    color: white;
}


/* navbar */

.navbar-custom {
    height: 80px;
    background-color: #405788  ; /* Color azul oscuro */
}
.navbar-custom .navbar-brand img {
    max-height: 50px; /* Tamaño del logo */
}
.navbar-custom .nav-link {
    color: #afb0ae ; /* Color blanco para los enlaces */
    font-weight: 500;
}
.navbar-custom .nav-link:hover {
    color: #d2b48c; /* Color dorado en hover */
}
.navbar-custom {
    border-color: #afb0ae ;
}

.navbar-toggler-img {
    width: 30px;  /* Ajusta el tamaño de la imagen según lo necesites */
    height: auto; /* Mantiene la proporción de la imagen */
}


.navbar-custom .icon-link {
    color: #afb0ae ;
    font-size: 1.2rem;
    margin-left: 15px;
}
.navbar-custom .icon-link:hover {
    color: #d2b48c; /* Color dorado en hover */
}

/* Estilo del navbar cuando se hace scroll */
.navbar-custom.scrolled {
    background-color: #405788  ; /* Fondo cuando hace scroll */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra cuando hace scroll */
    height: 50px; /* Hacer el navbar más pequeño */
    padding: 5px 0; /* Reducir el padding para hacerlo más compacto */
}

.navbar-custom .navbar-brand img {
    height: 40px; /* Reducir el tamaño del logo */
    transition: height 0.3s ease;
}

.navbar-custom.scrolled .navbar-brand img {
    height: 30px; /* Tamaño del logo cuando hace scroll */
}

/* Estilos para el navbar colapsado */
.navbar-collapse {
    background-color: #405788; /* Fondo blanco */
    border-radius: 10px;
    padding-left: 5px;
    /* padding-right: 5px; */
}

/* Aseguramos que el menú se vea bien en pantallas pequeñas */
@media (max-width: 991px) { /* Dispositivos pequeños, como tabletas */
    .navbar-collapse {
        padding-left: 10px;
        padding-right: 10px;
        /* border-radius: 5px; */
    } 
}

/* Ajustes para dispositivos móviles (ancho máximo de 576px) */
@media (max-width: 576px) {
    .navbar-collapse {
        background-color: #fff; /* Cambiar fondo a color oscuro en móviles */
        border-radius: 10px; /* Sin bordes redondeados */
        border: solid #afb0aeb3; /* Eliminar borde */
        padding-left: 0;
        padding-right: 0;
    }

    

    /* Estilos para los enlaces dentro del navbar */
    .navbar-nav .nav-link {
        padding: 10px 15px; /* Espaciado más grande en los enlaces */
        color: #afb0aeb3; /* Hacer que el texto sea blanco */
        font-size: 18px; /* Aumentar el tamaño de la fuente para que sea más legible */
    }

    /* Mejorar la visibilidad en el dropdown */
    .navbar-nav .dropdown-menu {
        background-color: #fff; /* Fondo oscuro en el dropdown */
        border-radius: 0;
        border: none;
    }

    .navbar-nav .dropdown-item {
        color: #afb0aeb3; /* Hacer que los ítems del dropdown sean blancos */
    }
    
    .navbar-nav .dropdown-item:hover {
        color: #afb0aeb3; /* Asegurarse de que el texto se mantenga blanco */
    }
}


/* Opcional: Establecer el color de los enlaces cuando están dentro del menú desplegable */
.navbar-nav .nav-link {
    color: #afb0ae; /* Color gris claro */
}

.navbar-nav .nav-link:hover {
    color: #ffffff; /* Blanco cuando pasas el ratón por encima */
}



.dropdown-menu {
    background-color: #405788  ; /* Fondo azul oscuro */
    border: 0.5px solid #afb0ae ; /* Borde de 2px de grosor y color dorado */
    border-radius: 5px; 
}

.dropdown-menu .dropdown-item {
    color: #afb0ae ; /* Color blanco para los enlaces */
    font-weight: 500;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #d2b48c; /* Fondo dorado al pasar el mouse */
    color: #405788  ; /* Texto azul oscuro */
}

/* presentacion de productos 28/11 */

/* General del contenedor */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Tarjeta del producto */
.product-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover para resaltar */
.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Imagen del producto */
.product-item img {
    /* max-width: 100%; */
    /* height: 10vh; */
    border-radius: 10px;
}

/* Etiqueta de estado (Agotado/Disponible) */
.status {
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.status.agotado {
    background-color: #333; 
    color: white;
}

.status.disponible { 
    /* background-color: #041d5c; */
    background-color: #784410;
    color: white;
}

/* Título y precio */
.product-item h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.product-item p {
    font-size: 16px;
    color: #041d5c;
    margin: 10px 0;
}

.original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
}

/* Botones */
.btn-agotado {
    background-color: transparent;
    color: #999;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: not-allowed;
}
.btn-agotado:hover {
    background-color: #999; /* Un fondo claro */
    color: #fff; /* Cambia el color del texto */
    border-color: #fff; /* Cambia el color del borde */
}

.btn-select {
    background-color: #041d5c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-select:hover {
    background-color: #eb8225;
}

.btn-select2 {
    background-color: #eb8225;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-select2:hover {
    color: #fff;
}


/* Contenedor centrado */
.centered-container {
    display: flex; /* Utiliza flexbox para alinear el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si se necesita */
    margin-top: 5%; /* Espaciado superior */
    width: 100%; /* Asegura que sea responsive */
}

/* banner */

.hero-section {
    position: relative;
    width: 100%;
    height: 95vh; /* La imagen cubre el 80% de la pantalla */
    background-image: url('../img/img/producto3.webp'); /* Coloca la URL de tu imagen aquí */
    background-size: cover; /* Hace que la imagen se ajuste al tamaño de la sección */
    background-position: center; /* Centra la imagen */
    display: flex;
    justify-content: left;
    align-items: center;
    color: white; /* Color de texto blanco para mayor contraste */
    text-align: left;
}

/* .content2 h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #405788;
}

.content2 p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #eb8225 ;
} */


.btn-login {
    padding: 10px 20px;
    background-color: #d2b48c;
    color: white;
    text-decoration: none; /* Elimina el subrayado */
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Efecto de hover sin subrayado */
.btn-login:hover {
    background-color: #d2b48cac;
    text-decoration: none; /* Asegura que no haya subrayado en hover */
    color: white;
}

.desplazamiento-derecha {
    opacity: 0;
    transform: translateX(100%); /* Coloca el contenido fuera de la pantalla a la izquierda */
    animation: slideIn 1s forwards ease-out; /* Animación de entrada */
}

/* Animación de deslizamiento */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Comienza fuera de la pantalla */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Llega a su posición original */
    }
}


/* footer  */

/* Footer */
.footer {
    background-color: #405788; /* Fondo marrón oscuro */
    color: #afb0aeb3; /* Texto gris claro */
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #afb0ae; /* Enlaces en gris claro */
    text-decoration: none;
}

.footer a:hover {
    color: #fff; /* Blanco al pasar el ratón */
}

/* Encabezados del footer */
.footer h4 {
    color: #afb0ae; /* Gris claro */
    letter-spacing: 3px; /* Espaciado entre letras */
}

/* Botones de redes sociales */
.footer .btn {
    background-color: transparent; /* Fondo transparente */
    color: #afb0ae; /* Iconos en gris claro */
    border: 1px solid #afb0ae; /* Borde gris claro */
    border-radius: 50%; /* Forma redonda */
    padding: 10px;
    margin: 5px;
}

.footer .btn:hover {
    background-color: #784410; /* Azul suave en hover */
    color: #fff; /* Iconos en blanco */
    border-color: #784410; /* Cambiar color del borde */
}

/* desplazamiento hacia arriba  */


/* Definición de la animación */
:root {
    --duration-extra-long: 2s;
    --duration-extra-long2: 3s;
    --ease-out-slow: cubic-bezier(0, 0, 0.3, 1);
  }
  
  @keyframes animated-div2 {
    from {
      transform: translateX(100%); /* Desde la derecha */
      opacity: 0;
    }
    to {
      transform: translateX(0); /* A su posición original */
      opacity: 1;
    }
  }
  
  @keyframes elemento2 {
    from {
      transform: translateY(100%); /* Desde abajo */
      opacity: 0;
    }
    to {
      transform: translateY(0); /* A su posición original */
      opacity: 1;
    }
  }
  
  /* Animación desde la derecha */
  .animated-div {
    animation: animated-div2 var(--duration-extra-long2) var(--ease-out-slow) forwards;
  }
  
  /* Animación desde abajo */
  .elemento {
    animation: elemento2 var(--duration-extra-long) var(--ease-out-slow) forwards;
  }
  
/* container2 */
.container2 {
    display: flex;
    height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
    width: 100%;
  }
  
  .left-column {
    width: 50%; /* Ajusta el ancho de la columna izquierda */
    background-color: #1c2a39; /* Fondo oscuro como el ejemplo */
    color: #ffffff; /* Texto blanco */
    padding: 20px;
    overflow-y: auto; /* Habilita el scroll si el contenido es largo */
  }
  
  .right-column {
    width: 50%; /* Resto del espacio para la columna derecha */
    background-color: #f8f9fa; /* Fondo claro */
    padding: 20px;
    overflow-y: auto; /* Habilita el scroll si hay muchos productos */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Grid de productos */
    gap: 20px;
  }
  
  .button-text {
    display: inline-flex;
    align-items: center;
    background-color: transparent; /* Fondo del botón */
    color: #351a09;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    border: solid 1px #351a09; 
    height: 30px;
    transition: box-shadow 0.3s ease;
}

.button-text:hover {
    box-shadow: 0px 4px 8px rgba(53, 26, 9, 0.3); /* Sombra sutil */
}

.button-text .text {
    margin-right: 10px; /* Espacio entre el texto y la X */
}

.button-text .close-btn {
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px; /* Espacio entre la X y el texto */
}

.close-btn {
    font-size: 5px; /* Tamaño más pequeño */
    cursor: pointer; /* Cambio de cursor a puntero */
    margin-left: 10px; /* Espacio entre el texto y el ícono */
}

/* imputs */

/* Contenedor del input */
.input-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Etiqueta del input */
.input-container label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #351a09;
}

/* Estilo del input */
.input-container input {
    width: 100%;
    max-width: 300px; /* Ancho máximo */
    padding: 10px 15px;
    border: 1px solid #afb0ae; /* Color del borde */
    border-radius: 5px;
    font-size: 14px;
    color: #405788;
    outline: none;
    transition: all 0.3s ease; /* Transición para los efectos */
}

/* Efecto cuando el input está en foco */
.input-container input:focus {
    border-color: #405788; /* Cambiar color del borde */
    box-shadow: 0 0 5px rgba(64, 87, 136, 0.5); /* Sombra azul */
}

/* Placeholder */
.input-container input::placeholder {
    color: #afb0ae;
    font-style: italic;
}

/* Efecto hover (opcional) */
.input-container input:hover {
    background-color: #f9f9f9; /* Ligero cambio de fondo */
}


/* Estilo personalizado para el símbolo de carga */
.swal2-loader {
    border: 4px solid #d3d3d3; /* Color del borde externo */
    border-top: 4px solid #351a09; /* Color del borde superior */
    border-radius: 50%; /* Forma circular */
    width: 40px; /* Ancho del spinner */
    height: 40px; /* Altura del spinner */
    animation: spin 1s linear infinite; /* Animación de giro */
}

/* Animación de giro */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.input-container label {
    font-size: 16px; /* Tamaño de fuente */
    color: #041d5c;  /* Color del texto */
    margin-right: 10px; /* Espacio entre el label y el select */
    text-align: left;
}

.input-container select {
    padding: 10px; /* Relleno dentro del select */
    border-radius: 5px; /* Bordes redondeados */
    border: solid 1px #351a09; /* Color del borde */
    font-size: 16px; /* Tamaño de la fuente dentro del select */
    width: 100%; /* O ajusta el tamaño según el diseño */
}

.btn-elevate {
    width: 100%;
    padding: 10px 20px; /* Relleno dentro del botón */
    font-size: 16px; /* Tamaño de la fuente */
    border: 2px solid #041d5c; /* Borde del botón */
    background-color: #fff; /* Color de fondo */
    color: #041d5c; /* Color del texto */
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer; /* El cursor cambia cuando pasa sobre el botón */
    transition: all 0.3s ease; /* Transición suave para los cambios */
}

/* Efecto al pasar el ratón (hover) */
.btn-elevate:hover {
    transform: translateY(-5px); /* Eleva el botón al pasar el ratón */
    background-color:  #041d5c;
    color: black;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); Sombra para el efecto de elevación */
}

.btn-elevate2 {
    width: 100%;
    padding: 10px 20px; /* Relleno dentro del botón */
    font-size: 16px; /* Tamaño de la fuente */
    border: 2px solid #041d5c; /* Borde del botón */
    background-color: #fff; /* Color de fondo */
    color: #041d5c; /* Color del texto */
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer; /* El cursor cambia cuando pasa sobre el botón */
    transition: all 0.3s ease; /* Transición suave para los cambios */
}

/* Efecto al pasar el ratón (hover) */
.btn-elevate2:hover {
    transform: translateY(-5px); /* Eleva el botón al pasar el ratón */
    background-color: #784410b3;
    color: black;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); Sombra para el efecto de elevación */
}

.numeric-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 120px; /* Ajusta el tamaño según sea necesario */
  }
  
  .numeric-input input {
    width: 50px;
    height: 35px;
    text-align: center;
    border: none;
    font-size: 16px;
  }
  
  .numeric-input button {
    background-color: #f0f0f0;
    border: none;
    width: 35px;
    height: 35px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .numeric-input button:hover {
    background-color: #e0e0e0;
  }
  
  .numeric-input button:active {
    background-color: #d0d0d0;
  }
  